.home_page button {
    text-transform: capitalize;
}

.home_page .display_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_page .paper {
    flex-grow: 1;
    padding: 10px;
    flex-wrap: wrap;
    gap: 15px;
    min-width: 300px;
}

.home_page .row2 {
    flex-direction: row;
    height: 500px;
}

.home_page .paper-row2 {
    width: 60%;
}

.home_page .row3 {
    flex-direction: row;
    height: 400px;
}

@media (min-width : 320px) and (max-width : 767px) {
    .home_page .row2 {
        flex-direction: column;
        height: 700px;
    }

    .home_page .paper-row2 {
        width: 100%;
    }

    .home_page .row3 {
        flex-direction: column;
        height: 900px;
    }
}